<div class="container">
  <div class="p-grid">
    <form autocomplete="off" (ngSubmit)="pesquisar()">
      <div class="mb-3">
        <h1>Pets</h1>
      </div>

      <div class="p-fluid mb-3">
        <label class="p-mb-2">Buscar pet</label>
        <input type="text" pInputText class="p-mt-2" name="nomeBusca" [(ngModel)]="nomeBusca" placeholder="Nome do Pet" />
      </div>

      <div class="mb-3">
        <p-button label="Buscar" type="submit"/>
      </div>

      <div class="p-grid">
        <div class="mb-3">
          <p-table [value]="pets" styleClass="p-datatable-striped" [tableStyle]="{ 'min-width': '50rem' }" responsiveLayout="stack"
          [breakpoint]="'960px'">
            <ng-template pTemplate="header">
              <tr>
                <th  class="center-column">Id</th>
                <th  class="center-column">Nome</th>
                <th  class="center-column">Tutor</th>
                <th  class="center-column">Raça</th>
                <th  class="center-column">Data Nascimento</th>
                <th class="button-column"></th>
              </tr>
            </ng-template>
            <ng-template pTemplate="body" let-pet>
              <tr>
                <td  class="center-column">{{ pet.id }}</td>
                <td  class="center-column">{{ pet.nome}}</td>
                <td  class="center-column">{{ pet.cliente.nome}}</td>
                <td  class="center-column">{{ pet.raca.descricao}}</td>
                <td  class="center-column">{{ pet.dataNascimento | date: 'dd/MM/yyyy' }}</td>
                <td class="button-column">
                  <p-button icon="pi pi-user-edit" class="button-spacing" pTooltip="Editar" tooltipPosition="top"
                  (click)="editarPet(pet)"></p-button>
                  <p-button icon="pi pi-trash" class="button-spacing" pTooltip="Deletar" tooltipPosition="top"
                  (click)="confirmarExclusao(pet)" [disabled]="!auth.temPermissao('ADMIN')"></p-button>
                </td>

              </tr>
            </ng-template>
          </p-table>
        </div>
      </div>
    </form>

    <div class="mb-3">
      <p-button *ngIf="auth.temPermissao('ADMIN')" label="Novo Pet" (click)="novoPet()"/>
    </div>
    <app-novo-pet [(display)]="displayNovoPet" ></app-novo-pet>
    <app-editar-pet *ngIf="selectedPet" [pet]="selectedPet" [(display)]="displayEditar"></app-editar-pet>
  </div>
</div>
